@import './themes.css';
@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  scrollbar-gutter: stable;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-scrollbar {
  /* width: 0; */
  height: 0.6rem;
}

::-webkit-scrollbar-track {
  background: rgb(var(--color-page));
}

::-webkit-scrollbar-thumb {
  background: rgb(var(--color-neutral));
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}