:root {
  --hero-gradient: 220, 228, 222;
  --color-page: 255 252 242;
  --color-main: 255 252 242;
  --color-light: 204 197 185;
  --color-light-text: 212 206 196;
  --color-neutral: 86 82 77;
  --color-neutral-text: 64 61 57;
  --color-dark: 37 36 34;
  --color-dark-text: 37 36 34;
  --color-accent: 235 94 40;
  --color-accent-light: 246 163 39;
  --color-accent-dark: 210 46 10;
  --color-special: 89 109 155;
}

/* Default theme */
body[body-theme="theme-sunRise"] {
  --hero-gradient: 37, 36, 34;
  --color-page: 255 252 242;
  --color-main: 255 252 242;
  --color-light: 204 197 185;
  --color-light-text: 212 206 196;
  --color-neutral: 86 82 77;
  --color-neutral-text: 64 61 57;
  --color-dark: 37 36 34;
  --color-dark-text: 37 36 34;
  --color-accent: 235 94 40;
  --color-accent-light: 246 163 39;
  --color-accent-dark: 210 46 10;
  --color-special: 89 109 155;
}

body[body-theme="theme-coolTides"] {
  --hero-gradient: 43, 83, 65;
  --color-page: 241 250 238;
  --color-main: 241 250 238;
  --color-light: 128 155 139;
  --color-light-text: 128 155 139;
  --color-neutral: 71 107 90;
  --color-neutral-text: 71 107 90;
  --color-dark: 43 83 65;
  --color-dark-text: 14 59 40;
  --color-accent: 69 123 157;
  --color-accent-light: 168 218 220;
  --color-accent-dark: 29 53 87;
  --color-special: 230 57 70;
}

body[body-theme="theme-sketchPad"] {
  --hero-gradient: 220, 228, 222;
  --color-page: 229 241 233;
  --color-main: 229 241 233;
  --color-light: 255 255 255;
  --color-light-text: 0 17 33;
  --color-neutral: 220 228 222;
  --color-neutral-text: 0 17 33;
  --color-dark: 220 228 222;
  --color-dark-text: 0 17 33;
  --color-accent: 103 146 237;
  --color-accent-light: 205 220 250;
  --color-accent-dark: 32 62 161;
  --color-special: 147 36 48;
}